table {
  margin: 0;
  padding: 0;

  tr {
    margin: 0;
    padding: 0;

    td {
      border: 1px solid #5f5f5f;
      width: 20px;
      height: 20px;
    }
    td.feed {
      background-color: maroon;
    }

    td.snake-part {
      background-color: #3f3f3f;
    }
  }
}
