section {
  display: flex;
  padding: 0 0 10px;
  justify-content: space-between;

  .panel-info, .panel-controls {
    display: flex;
    align-items: center;
    > * + * {
      margin: 10px 0 10px 10px;
    }
  }
  button {
    outline: none;
    border: 1px solid rgb(26, 175, 180);
    &:active {
      border-color: #a3137a;
      transition: .3s;
    }
  }

  pre {
    padding: 20px 0 10px 30px;
  }
}

$gridCellSize: minmax(5px, 60px);
.grid-container {
  display: grid;
  grid-template-rows: repeat(var(--rows), $gridCellSize);
  grid-template-columns: repeat(var(--columns), $gridCellSize);

  .grid-cell {
    margin: 2px;
    background: var(--grid-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feed { background: rgb(26, 175, 180); }
  .snake-part { background-color: #ced0d3; }
}

.big-caption {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 90px;
  color: maroon;
}
